body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  background-color: #212529;
}

.bk-img {
  background-image: url("background-img.jpg");
  background-size: cover;
}

.navtextclr {
  color: rgb(155, 153, 153);
}

.navbar-brand {
  color: #216A8D;
  font-weight: bold;
}

.position-change {
  margin-top: 200px;
}

.main-page-height {
  height: 700px;
}