body {
    background-image: url("background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Gill Sans', 'Gill Sans MT';
}
.me-5 {
    color: white !important;  
}
.login {
    background-color: #216A8D;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-left: 1200px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    
  }
  .signup {
    background-color: #216A8D;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1300px;
    cursor: pointer;
    border-radius: 20px;
    margin: 4px 2px;
  }
  .front-text {
      padding-top: 230px;
      padding-left: 50px;
      font-size: 50px;
      font-family:'Trebuchet MS', sans-serif;
      width: 30%;
      color: white; 
  }
  .enroll {
        background-color: #216A8D;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 16px;
  }
  .navbar-brand {
      color: #216A8D; 
      font-weight: bold;
  }